{% extends 'base.html.twig' %}
{% block body %}
    <p><strong>{{ 'with_priority'|trans }}</strong></p>
    {% for rank, values in data['withPriority'] %}
        {% set versions = values %}
        {{ rank }}
        {% include 'version/list-content.html.twig' %}
    {% endfor %}
    <p><strong>{{ 'without_priority'|trans }}</strong></p>
    {% set versions = data['withoutPriority'] %}
    {% include 'version/list-content.html.twig' %}
{% endblock %}
