.idea
.local.env.php
.env.local

# Symfony
vendor/
tools/php-cs-fixer/composer.lock
tools/php-cs-fixer/vendor
phpunit.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
composer.phar
package.tar
/packages.json
/.phpunit
var/
