<div id="hallOfFameCriteria">{% trans %}hof-criteria-reminder{% endtrans %}:
    <ul>
        <li>{% trans %}hof-desc1{% endtrans %}</li>
        <li>{% trans %}hof-desc2{% endtrans %}</li>
        <li>{% trans %}hof-desc3{% endtrans %}}</li>
    </ul>
</div>
