{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <form action="{{ url('delete_platform', {id: platform['id']}) }}" method="post" data-confirmation="true" id="delete-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_platform') }}" />
            <button type="submit" id="deletePostSubmitButton" class="btn btn-lg btn-block btn-danger" onclick="return areYouSure('{{ 'delete_entry_confirmation'|trans }}');">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ 'delete_action'|trans }}
            </button>
        </form>
    {% endif %}
    <hr>
    {% include 'version/list-content.html.twig' %}
{% endblock %}
